[submodule "xmlAnaWSBuilder"]
	path = xmlAnaWSBuilder
	url = https://github.com/tofitsch/xmlAnaWSBuilder.git
	ignore = untracked
[submodule "quickFit"]
	path = quickFit
	url = https://github.com/tofitsch/quickFit.git
	ignore = untracked
[submodule "pyBumpHunter"]
	path = pyBumpHunter
	url = https://github.com/scikit-hep/pyBumpHunter.git
	ignore = untracked
[submodule "workspaceCombiner"]
	path = workspaceCombiner
	url = https://github.com/tofitsch/workspaceCombiner.git
	ignore = untracked
