<!DOCTYPE Channel SYSTEM 'AnaWSBuilder.dtd'>
<Channel Name="J50yStar06" Type="shape" Lumi="1">
  <Data InputFile="DATAFILE" FileType="histogram" HistName="DATAHIST" Observable="obs_x_channel[RANGELOW,RANGEHIGH]" Binning="BINS" InjectGhost="1"/>

  <Sample Name="background" InputFile="BACKGROUNDFILE" MultiplyLumi="0" ImportSyst=":self:">
    <NormFactor Name="nbkg[NBKG]"/>
  </Sample>

  <Sample Name="signal_SIGNAME" InputFile="SIGNALFILE" MultiplyLumi="0" >
    <NormFactor Name="nsig_SIGNAME[NSIG]" />
  </Sample>
</Channel>
